<!DOCTYPE html>
<html>
	<head>
		<title>Admin home</title>
		<link rel="stylesheet" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/admin/adminHome.css">
	</head>
	
	<body>
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<hr>

		<main class="admin-page">
			<h1>Admin homepage</h1>

			<section class="admin-actions">
				<div class="admin-card">
					<h2>Add new ingredient</h2>
					<a href="/ingredients/newIngredient">Go!</a>
				</div>

				<!--<div class="admin-card">
					<h2>Ingredients list</h2>
					<a href="/ingredients/allIngredients">Go!</a>
				</div>-->

				<div class="admin-card">
					<h2>Add a new recipe</h2>
					<a href="/recipes/new">New recipe</a>
				</div>

				<div class="admin-card">
					<h2>Categories</h2>
					<a href="/admin/categories">Go!</a>
				</div>

				<div class="admin-card">
					<h2>Recipes list</h2>
					<a href="/recipes/allRecipes">Go to all recipes</a>
				</div>

				<div class="admin-card">
					<h2>Users & status</h2>
					<a href="/admin/users">Users</a>
				</div>
			</section>
		</main>
	</body>
</html>
