

.chunk1 {
	display: flex;
	/*border: solid orangered;*/
	justify-content: center;
}


.chunk1 div {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.chunk1 img {
	flex: 1.5;
}

.chunk2 {
	display: flex;
	justify-content: space-between;
}


.chunk2 .right {
	flex: 1.5;
}

.chunk2 .left {
	flex: 1;
}

.chunk3 {
	display: flex;
	justify-content: space-between;
}

.chunk3 .right {
	flex: 1.5;
}

.chunk3 .left {
	flex: 1;
}









