<!DOCTYPE html>
<html>
	<head>
		<title>SIW Recipes</title>
		<link rel="stylesheet" href="/css/navbar.css">
		<link rel="stylesheet" href="/css/homepage.css">
	</head>
	
	<body>
		<div th:replace="~{fragments/navbar :: navbar}"></div>
		<hr>
		<main>
			<section class="rotd" th:if="${recipeOfTheDay}">
				<a th:href="@{/recipes/{id}(id=${recipeOfTheDay.id})}"><img th:src="@{'/images/recipes/' + ${recipeOfTheDay.imageFileName}}" height="400px" width="320px" /></a>
				<div class="info">
					<p class="header">Recipe of the day!</p>
					<p th:text="${recipeOfTheDay.title}">Recipe title</p>
					<p th:text="|Recipe by ${recipeOfTheDay.author.name} ${recipeOfTheDay.author.surname}|">By</p>
					<p th:text="${recipeOfTheDay.stars}">Stars</p>
				</div>
				<hr>
			</section>
			<section class="newest" th:if="${newest}">
				<p class="section-header">The most recent</p>		
				<div class="recipe-container">
					<div th:each="item : ${newest}" class="ciclo">						
						<a th:href="@{/recipes/{id}(id=${item.id})}"><img th:src="@{'/images/recipes/' + ${item.imageFileName}}" height="260px" width="300px" /></a>
						<p th:text="${item.title}">Recipe title</p>
					</div>
				</div>
			</section>
			<section class="popular" th:if="${popular}">
				<p class="section-header">The most popular</p>
				<div class="recipe-container">	
					<div class="ciclo" th:each="item : ${popular}">						
						<a th:href="@{/recipes/{id}(id=${item.id})}"><img th:src="@{'/images/recipes/' + ${item.imageFileName}}" height="260px" width="300px" /></a>
						<p th:text="${item.title}">Recipe title</p>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>